
/*가로는 화면 전체의 가로,
세로는 500px이고 
테두리 색은 blue이고
테두리 종류는 solid,
굵기는 1px인 div를 생성하세요*/

div{
    border-style: solid;
    border-color: blue;
    border-width: 1px;

    width: 100%;
    height: 500px;
    

}